body {
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 6px;
  width: 7%;
}
a:hover
{
  color: red;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}
#submit:hover
{
color: darkblue;
}
